body{
     font-family: serif;
    text-align: center;
     background-color: rgba( 208, 201, 177, 40%);
}
tr,th,td{
    border:  1px solid Green;
    padding: 5px;
    background-color: burlywood;
}
th{
    background-color: darkslategray;
    color: cadetblue;
    text-shadow: 2px 6px 4px black;
}
table{
    margin:auto;
    width: 80%;
    border-collapse: collapse;
}
#break{
    background-color: cornflowerblue;
}
.A{
    color: black;
}